<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Add New</h1>
    <form action="/Add" method="post">
        <label for="">Id</label><br>
        <input type="text" name="id" placeholder="Enter user Id"><br>
        <label for="">Name</label><br>
        <input type="text" name="name" placeholder="Enter user Name"><br>
        <label for="">Place</label><br>
        <input type="text" name="place" placeholder="Enter user Place"><br>

        <button type="submit" class="btn1">Submit</button>
        <button class="btn2"><a href="/user" >Cancel</a></button>
        
    </form>
</body>
</html>